*:focus{
  outline: 3px solid green;
}
button, a{
  background-color: blue;
  color: white;
  font-weight: bold;
}
button:focus, button:hover, a:hover, a:focus {
  background-color: white;
  color: blue;
  font-weight: bold;
}
.button-text {
  color: blue;
  font-weight: bold;
}